@import url("layout-article.css?v=1.25");

.loader-images {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    object-fit: contain;
    max-height: 40vh;
    padding-bottom: var(--gap-xxl);

    background-image:
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 45%,
        rgba(255, 255, 255, 2) 50%,
        rgba(255, 255, 255, 0) 55%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(0deg, var(--fg-primary), var(--fg-primary));
    background-size: 200% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: -50% 0, 0 0;
    background-clip: text, text;
    color: transparent;
    animation: shiny-sweep 2s linear infinite;
  }
}

.masonry-grid {
  display: none;

  column-count: 5;
  column-gap: var(--gap-md);

  @media (max-width: 1200px) {
    column-count: 4;
  }

  @media (max-width: 992px) {
    column-count: 3;
  }

  @media (max-width: 768px) {
    column-count: 2;
  }

  @media (max-width: 576px) {
    column-count: 1;
  }

  figure {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 12px;

    display: block;
    overflow: hidden;
    border: 1px solid var(--fg-primary);

    img {
      display: block;
      width: 100%;
      margin-bottom: -12px; /* hides signatures */
      transition: transform 0.9s ease;

      &:hover {
        transform: scale(var(--scale));
      }
    }
  }
}