html, body {
  height: 100%;
  width: 100%;
}

header {
  .languages {
    position: fixed;
    top: var(--gap-lg);

    @media (max-width: 576px) {
      top: var(--gap-xxl);
    }
  }

  .title {
    .names {
      font-size: 10vw;

      @media (max-width: 576px) {
        font-size: 16vw;
        animation: shiny-sweep 6s linear infinite;

        span {
          display: block;
        }
      }
    }

    .countdown {
      margin: 0;
      font-size: 4vw;
      white-space: nowrap;
      color: var(--fg-primary);

      width: 80vw;
      text-align: center;
      text-shadow: 2px 2px 64px rgba(0, 0, 0, 0.2);

      @media (max-width: 576px) {
        font-size: 8vw;
      }
    }
  }

  footer {
    position: fixed;
    bottom: var(--gap-lg);
    padding: 0;

    @media (max-width: 576px) {
      bottom: var(--gap-xxl);
    }
  }
}

.container-hero {
  position: fixed;
  inset: 0;
  overflow: auto;

  &.centered {
    justify-content: center;
  }
}

.corners {
  position: absolute;
  inset: 0;
  filter: opacity(0.8);

  .corner {
    position: absolute;
    background-image: url("../images/corner-flowers.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 240px;
    height: 240px;
    filter: invert(71%) sepia(26%) saturate(584%) hue-rotate(345deg) brightness(98%) contrast(89%);

    @media (max-width: 576px) {
      width: 140px;
      height: 140px;
    }

    &.top-left {
      top: var(--page-border);
      left: var(--page-border);
      transform: rotate(90deg);
    }

    &.top-right {
      top: var(--page-border);
      right: var(--page-border);
      transform: rotate(180deg)
    }

    &.bottom-left {
      bottom: var(--page-border);
      left: var(--page-border);
      transform: rotate(0deg);
    }

    &.bottom-right {
      bottom: var(--page-border);
      right: var(--page-border);
      transform: rotate(270deg);
    }
  }
}