@import url("layout-hero.css?v=1.44");

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin: 0;

  &.accepted, &.rejected {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    display: none;

    h1 {
      font-size: 4vw;
      margin-bottom: var(--gap-sm);

      @media (max-width: 576px) {
        font-size: 8vw;
      }
    }

    p {
      font-family: var(--font-family);
      margin-bottom: var(--gap-sm);
    }

    nav {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      font-family: var(--font-family);
      margin-top: var(--gap-sm);
      font-size: var(--font-size-primary);

      a {
        color: var(--fg-primary);
        text-decoration: none;

        &:hover {
          color: var(--accent);
        }
      }

      @media (max-width: 576px) {
        font-size: 4vw;
      }
    }
  }
}

form {
  height: 100%;
  align-content: center;

  .logo {
    display: flex;
    justify-content: center;

    img {
      width: 256px;
      height: 256px;

      @media (max-width: 576px) {
        width: 128px;
        height: 128px;
      }

      background-image:
        linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 45%,
          rgba(255, 255, 255, 2) 50%,
          rgba(255, 255, 255, 0) 55%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(0deg, var(--fg-primary), var(--fg-primary));
      background-size: 200% 100%, 100% 100%;
      background-repeat: no-repeat, no-repeat;
      background-position: -50% 0, 0 0;
      background-clip: text, text;
      color: transparent;
      animation: shiny-sweep 4s linear infinite;
    }
  }

  label {
    display: inline-block;
    margin-bottom: var(--spacing);
  }

  input, textarea, button {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--fg-primary);
    color: var(--fg-primary);
    transition: all var(--transition) ease;

    &:hover {
      filter: brightness(1.2);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 var(--spacing) rgba(0, 0, 0, 0.1);
    }
  }

  input, textarea {
    padding: var(--form-padding);
    box-sizing: border-box;

    &:disabled {
      filter: brightness(0.6);
      cursor: not-allowed;
    }
  }

  button {
    background-color: var(--fg-primary);
    color: var(--bg-primary);
    padding: calc(var(--form-padding) * 2);
    text-align: center;
    cursor: pointer;

    &:hover, &:disabled {
      background-color: var(--bg-primary);
      color: var(--fg-primary);
      border-color: var(--fg-primary);
    }

    &:disabled {
      cursor: not-allowed;
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          transparent,
          rgba(255, 255, 255, 0.3),
          transparent
        );
        animation: shadow-move 2s linear infinite;
      }
    }
  }
}

@keyframes shadow-move {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}