@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

:root {
  --font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  --font-family-ru: "Great Vibes", cursive;
  --font-family-zh: "LXGW WenKai Mono TC", monospace;
  --font-weight: 400;
  --line-height: 1.4;

  --font-size-primary: 1rem;
  --font-size-title: 10rem;

  --fg-primary: #e6ac7c;
  --fg-secondary: #6e6e6e;
  --fg-inverted: white;

  --bg-primary: #b61c2b;
  --bg-secondary: #dc2424;
  --bg-third: #f5f5f7;

  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 32px;
  --gap-xxl: 64px;

  --transition: 0.4s;
  --scale: 1.04;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight);
  line-height: var(--line-height);

  background-color: var(--bg-primary);
  color: var(--fg-primary);

  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.02) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.02) 75%, rgba(255, 255, 255, 0.02) 100%), linear-gradient(-45deg, rgba(255, 255, 255, 0.02) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.02) 75%, rgba(255, 255, 255, 0.02) 100%);
  background-size: 64px 64px;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gap-xl) 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    gap: var(--gap-md);

    .languages {
      a {
        color: var(--fg-primary);
        opacity: 0.8;
        text-decoration: none;
        padding: var(--gap-sm) var(--gap-sm);
        transition: all var(--transition);

        &:hover {
          background-color: var(--fg-primary);
          color: var(--bg-primary);
          transform: scale(var(--scale));
        }
      }
    }

    .names {
      margin: 0;
      font-size: 6vw;
      white-space: nowrap;
      color: var(--fg-primary);

      width: 80vw;
      text-align: center;
      text-shadow: 2px 2px 64px rgba(0, 0, 0, 0.2);

      @supports (-webkit-background-clip: text) or (background-clip: text) {
        background-image:
          linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 45%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 55%,
            rgba(255, 255, 255, 0) 100%
          ),
          linear-gradient(0deg, var(--fg-primary), var(--fg-primary));
        background-size: 200% 100%, 100% 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: -50% 0, 0 0;
        background-clip: text, text;
        color: transparent;
        animation: shiny-sweep 8s linear infinite;
      }

      .separator {
        font-family: var(--font-family-ru);
        margin: 0 1rem;
      }

      @media (max-width: 576px) {
        font-size: 8vw;
        animation: shiny-sweep 6s linear infinite;
      }
    }
  }

  main {
    padding-top: var(--gap-md);

    h1 {
      font-size: var(--font-size-header);
      font-weight: 500;
      margin-top: var(--gap-md);
      margin-bottom: calc(var(--gap-md) * 1.4);

      &:not(:first-child) {
        margin-top: calc(var(--gap-md) * 2.2);
      }
    }

    p {
      font-weight: 400;
      line-height: calc(var(--line-height) * 1.02);
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 576px) {
      bottom: var(--gap-xxl);
    }

    a {
      padding: var(--gap-sm) var(--gap-sm);
      transition: all var(--transition);

      svg {
        fill: var(--fg-primary);
        height: 100%;
        opacity: 0.6;
        transition: all var(--transition);
      }

      &:hover {
        background-color: var(--fg-primary);
        transform: scale(var(--scale));

        svg {
          fill: var(--bg-primary);
          opacity: 0.6;
        }
      }
    }
  }
}

.container {
  margin: 0 auto var(--gap-md) auto;
  max-width: 1140px;

  @media (max-width: 1200px) {
    max-width: 960px;
  }

  @media (max-width: 992px) {
    max-width: 720px;
  }

  @media (max-width: 768px) {
    max-width: 540px;
  }

  @media (max-width: 576px) {
    max-width: 100%;
  }
}

.container-fluid {
  margin: 0 var(--gap-md);
}

.chinese {
  font-family: var(--font-family-zh);
}

.russian {
  font-family: var(--font-family-ru);
}

@keyframes shiny-sweep {
  0% { background-position: 100% 0, 0 0; }
  100% { background-position: 0% 0, 0 0; }
}