@import url("layout-hero.css?v=1.48");

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    .not-found {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 4vw;
        margin-bottom: var(--gap-sm);

        @media (max-width: 576px) {
          font-size: 8vw;
        }
      }

      h2 {
        font-size: 3vw;
        margin-bottom: var(--gap-lg);

        @media (max-width: 576px) {
          font-size: 6vw;
        }
      }

      nav {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        font-family: var(--font-family);
        font-size: var(--font-size-primary);

        a {
          color: var(--fg-primary);
          text-decoration: none;

          &:hover {
            color: var(--accent);
          }
        }

        @media (max-width: 576px) {
          font-size: 4vw;
        }
      }

      @media (max-width: 576px) {
        font-size: 16vw;
        animation: shiny-sweep 6s linear infinite;

        span {
          display: block;
        }
      }

      .separator {
        font-family: var(--font-family-ru);
        margin: 0 1rem;
      }
    }

    .countdown {
      margin: 0;
      font-size: 4vw;
      white-space: nowrap;
      color: var(--fg-primary);

      width: 80vw;
      text-align: center;
      text-shadow: 2px 2px 64px rgba(0, 0, 0, 0.2);

      @media (max-width: 576px) {
        font-size: 8vw;
      }
    }
  }
}