.form-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  pointer-events: auto;

  iframe {
    border: none;
    height: 1800px;
    overflow:auto; 
    width: 640px;
    -webkit-overflow-scrolling: touch; 
  }
}