header {
  padding-top: calc(var(--gap-md) + 4px);
  height: 240px;

  @media (max-width: 576px) {
    padding-top: calc(var(--gap-xxl) - 4px);
    height: 140px;
  }
}

.gradient-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* don’t block clicks */
  background: linear-gradient(
    180deg,
    rgba(0,0,0,0.2) 0%,
    rgba(0,0,0,0) 100%
  );
  z-index: -1;
}

main {
  .invitation {
    margin: 0 var(--gap-md);

    address {
      margin-bottom: 1rem;

      a {
        display: block;
      }
    }
  }

  .form{
    display: flex;
    height: 2000px;
    justify-content: center;
    width: 100%;

    overflow: scroll; 
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    iframe {
      height: 100%;
      width: 100%;
      border: none;
      display: block;
    }
  }
}

.corners {
  position: absolute;
  inset: 0;
  filter: opacity(0.8);

  .corner {
    position: absolute;
    background-image: url("../images/corner-flowers.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 240px;
    height: 240px;
    filter: invert(71%) sepia(26%) saturate(584%) hue-rotate(345deg) brightness(98%) contrast(89%);

    @media (max-width: 576px) {
      width: 140px;
      height: 140px;
    }

    &.top-left {
      top: 4px;
      left: 4px;
      transform: rotate(90deg);
    }

    &.top-right {
      top: 4px;
      right: 4px;
      transform: rotate(180deg)
    }
  }
}