.container-hero {
  position: fixed;
  inset: 0;
  background-color: var(--bg-primary);
  border: 4px solid var(--bg-secondary);
  box-sizing: border-box;
  box-shadow: inset 0 0 256px rgba(0, 0, 0, 0.2);
  overflow: auto;

  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.02) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.02) 75%, rgba(255, 255, 255, 0.02) 100%), linear-gradient(-45deg, rgba(255, 255, 255, 0.02) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.02) 75%, rgba(255, 255, 255, 0.02) 100%);
  background-size: 64px 64px;

  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    position: fixed;
    top: var(--gap-lg);

    @media (max-width: 576px) {
      top: var(--gap-xxl);
    }

    a {
      color: var(--fg-primary);
      opacity: 0.8;
      text-decoration: none;
      padding: var(--gap-sm) var(--gap-sm);
      transition: all var(--transition);

      &:hover {
        background-color: var(--fg-primary);
        color: var(--bg-primary);
        transform: scale(var(--scale));
      }
    }
  }

  footer {
    position: fixed;
    display: flex;
    bottom: var(--gap-lg);

    @media (max-width: 576px) {
      bottom: var(--gap-xxl);
    }

    a {
      padding: var(--gap-sm) var(--gap-sm);

      svg {
        fill: var(--fg-primary);
        height: 100%;
        opacity: 0.6;
      }

      &:hover {
        background-color: var(--fg-primary);
        transform: scale(var(--scale));

        svg {
          fill: var(--bg-primary);
          opacity: 0.6;
        }
      }
    }
  }
}

.title {
  width: 80vw;
  text-align: center;
  text-shadow: 2px 2px 64px rgba(0, 0, 0, 0.2);

  .names {
    margin: 0;
    font-size: 10vw;
    white-space: nowrap;

    .separator {
      font-family: var(--font-family-ru);
      margin: 0 1rem;
    }

    @media (max-width: 576px) {
      font-size: 16vw;

      span {
        display: block;
      }
    }
  }

  .countdown {
    font-size: 4vw;
    margin-top: 1rem;

    @media (max-width: 576px) {
      font-size: 6vw;
    }
  }
}

.corners {
  position: absolute;
  inset: 0;
  filter: opacity(0.8);

  .corner {
    position: absolute;
    background-image: url("../images/corner-flowers.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 240px;
    height: 240px;
    filter: invert(71%) sepia(26%) saturate(584%) hue-rotate(345deg) brightness(98%) contrast(89%);

    @media (max-width: 576px) {
      width: 140px;
      height: 140px;
    }

    &.top-left {
      top: 0;
      left: 0;
      transform: rotate(90deg);
    }

    &.top-right {
      top: 0;
      right: 0;
      transform: rotate(180deg)
    }

    &.bottom-left {
      bottom: 0;
      left: 0;
      transform: rotate(0deg);
    }

    &.bottom-right {
      bottom: 0;
      right: 0;
      transform: rotate(270deg);
    }
  }
}