@import url("layout-article.css?v=1.52");

.title {
  &:hover {
    background: none;
    transform: none;
  }
}

main {
  .form {
    display: flex;
    height: 800px;
    justify-content: center;
    width: 100%;
    margin: 0;

    overflow: scroll; 
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    iframe {
      height: 100%;
      width: 100%;
      border: none;
      display: block;
    }
  }
}